<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/login/">Войти</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/riddle/">Загадка</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/answer/">Ответ на загадку</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/multiply/">Таблица умножения</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/expression/">Алгебраическое выражение</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/history/">История вычислений</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/str2words/">Разбиение строки на слова</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/str_history/">История разбиений</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/clicker/">Новогодний Кликер</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout/">Выйти</a>
    </li>
</ul>
